.CardsArea{
    display: inline-flex;

}

.ParentCardsArea{
    /*text-align: left;
    /*padding: 25px 50px 25px 50px;*/

}
.container {
    width: 100%;
    text-align: center;

}

.innerContainer {

    width: 1050px;
    text-align: center;
    display: inline-block;


}

.innerContainer h1 {
    /*padding-left: 50px;*/
    text-align: left;
}

.textBlock {
    display: inline-flex;
    margin-top: 50px;
    text-align: left;
    /*padding-left: 55px;*/
}
.textBlockLeft {

}
.imageRight img{

    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 5px;
}
