.cards {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.center {
    text-align: center;

}

.contacttext {
    margin: 0 auto; /* center element horizontally */
    text-align: center;
    width: 60%;
}
.contacttext p {
    text-align: left;
}

.space {
    padding-bottom: 20px;
}

.space img {
    border-radius: 5px;
    max-width: 100%;
}
