.cards {
    text-align: center;
    display: inline-flex;
}

.center {
    text-align: center;

}

.contacttext {
    margin: 0 auto; /* center element horizontally */
    text-align: center;
    width: 60%;
}
.contacttext p {
    text-align: left;
}

.space {
    padding-bottom: 20px;
}

.space img {
    border-radius: 5px;
}
