.background{
    width: 100%;
    background-color: #000000;
    position: sticky;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000000;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 0px;
    z-index: 1;

}
.background a:hover{
    font-weight: 500;
}
.background ul {
    margin-top: 5px;
    padding-left: 5px;
}
.background li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
