.imagesWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}
.imagePage {

    display: flex;
    justify-content: space-around;
    min-width: 40%;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;


}
.imagePage img {
    border-radius: 5px;
}
